<a
    href="#"
    class="group flex items-center text-black uppercase text-sm tracking-widest"
>
    <span
        class="block h-[2px] bg-black w-8 group-hover:w-16 group-focus:w-16 transition-all duration-300 ease-out mr-2"
    ></span>
    <slot />
</a>
