---
import Layout from "../layouts/Layout.astro";
import Listprojects from "../components/listas/Listprojects.astro";
import Listexperience from "../components/listas/Listexperience.astro";
import Listskills from "../components/listas/Listskills.astro";
import Listcertificates from "../components/listas/Listcertificates.astro";
---

<Layout title="Camilo Aguirre">
    <div class="text-[#141517] dark:text-slate-300">
        <!-- Section about -->
        <section
            id="about"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="About me"
        >
            <div
                class="sticky top-0 z-20 -mx-6 mb-4 w-screen bg-[] px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:mx-auto lg:w-full lg:px-0 lg:py-0"
            >
                <h2 class="text-sm font-bold uppercase tracking-widest">
                    About
                </h2>
            </div>
            <div class="mt-2 text-sm leading-normal">
                <p class="mb-4">
                    Comencé a estudiar Ingeniería de Sistemas en 2021, iniciando
                    con el diseño web. Aunque no exploté demasiado mi lado
                    creativo, me desenvolví muy bien con el código,
                    especialmente creando funcionalidades en el Back-end. Aún no
                    he tenido la oportunidad de trabajar en una empresa, pero me
                    he apoyado en proyectos personales para resolver problemas
                    reales.
                </p>
                <p class="mb-4">
                    Mi principal objetivo actual es seguir ganando experiencia y
                    mejorar en la gestión de errores. Lo que más disfruto es
                    crear software escalable, estético y eficiente: que se vea
                    bien diseñado, pero sobre todo que funcione de la manera
                    correcta. En mi tiempo libre subo videos a YouTube sobre
                    Linux (servidores, instalaciones y consola).
                </p>
                <p class="mb-4">
                    Fuera de la computadora, me gusta estudiar, jugar, leer y
                    hacer ejercicio. Siempre pienso en cómo mejorar día a día e
                    incluso aplico la lógica del código en mi vida para
                    simplificar tareas (si algo me toma 1 minuto, busco
                    automatizarlo). Actualmente estoy enfocado en desarrollar y
                    potenciar lo que hago.
                </p>
            </div>
        </section>

        <!-- Section Experiences -->

        <section
            id="experience"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="Work experience"
        >
            <div
                class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:mx-auto lg:w-full lg:px-0 lg:py-0"
            >
                <h2 class="text-sm font-bold uppercase tracking-widest">
                    Experience
                </h2>
            </div>
            <!-- Lista de experiencias -->
            <Listexperience />
        </section>

        <!-- Section Projects -->

        <section
            id="projects"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="Projects"
        >
            <!-- Título -->
            <div
                class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:mx-auto lg:w-full lg:px-0 lg:py-0"
            >
                <h2 class="text-sm font-bold uppercase tracking-widest">
                    Projects
                </h2>
            </div>

            <!-- Lista de proyectos -->
            <Listprojects />
        </section>

        <!-- Section Skills -->

        <section
            id="skills"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="skills"
        >
            <!-- Título -->
            <div
                class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:mx-auto lg:w-full lg:px-0 lg:py-0"
            >
                <h2 class="text-sm font-bold uppercase tracking-widest">
                    Skills
                </h2>
            </div>

            <Listskills />
        </section>

        <!-- Section Certificates -->

        <section
            id="certificates"
            class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24"
            aria-label="certificates"
        >
            <!-- Título -->
            <div
                class="sticky top-0 z-20 -mx-6 mb-4 w-screen px-6 py-5 backdrop-blur md:-mx-12 md:px-12 lg:mx-auto lg:w-full lg:px-0 lg:py-0"
            >
                <h2 class="text-sm font-bold uppercase tracking-widest">
                    Certificates
                </h2>
            </div>
            <Listcertificates />
        </section>
    </div>
</Layout>
