---
import Btnarrow from "../components/buttoms/Btnarrow.astro";
import Btnnavbar from "../components/buttoms/Btnnavbar.astro";
import Grpbtnsocial from "../components/buttoms/Grpbtnsocial.astro";
import Avatar from "../components/avatar/Avatar.astro";
import Layout from "../pages/index.astro";
---



<header
  class="w-full lg:sticky lg:top-0 lg:flex lg:max-h-screen lg:w-1/2 lg:flex-col lg:justify-between lg:py-24"
>

  <div class="text-[#141517] dark:text-[#F2F4F7]">
    
    <h1 class="text-4xl font-bold tracking-tight sm:text-5xl">
      <Avatar /><a>Hola! <span class="text-[#FD7014]">soy Camilo</span></a>
    </h1>
    <h2
      class="mt-3 text-lg font-medium tracking-tight sm:text-xl "
    >
      Estudiante Ingenieria de sistemas
    </h2>
    <p class="mt-4 max-w-xs leading-normal ">
      Desarrollo experiencias digitales basadas en datos, enfocadas en ser claras, eficientes y fáciles de interpretar.
    </p>

    <nav class="nav hidden lg:block" aria-label="In-page jump links">
      <ul class="mt-2 w-max">
        <li class="group flex items-center py-3">
          <Btnnavbar href="#about">
            <span class="nav-text text-xs font-bold uppercase tracking-widest text-[#141517] dark:text-[#F2F4F7] group-hover:text-slate-400 group-focus-visible:text-[#393E46]">
              About
            </span>
          </Btnnavbar>
        </li>
        <li class="group flex items-center py-3">
          <Btnnavbar href="#experience">
            <span class="nav-text text-xs font-bold uppercase tracking-widest text-[#141517] dark:text-[#F2F4F7] group-hover:text-slate-400 group-focus-visible:text-slate-400">
              Experience
            </span>
          </Btnnavbar>
        </li>
        <li class="group flex items-center py-3">
          <Btnnavbar href="#projects">
            <span class="nav-text text-xs font-bold uppercase tracking-widest text-[#141517] dark:text-[#F2F4F7] group-hover:text-slate-400 group-focus-visible:text-slate-400">
              Projects
            </span>
          </Btnnavbar>
        </li>
        <li class="group flex items-center py-3">
          <Btnnavbar href="#skills">
            <span class="nav-text text-xs font-bold uppercase tracking-widest text-[#141517] dark:text-[#F2F4F7] group-hover:text-slate-400 group-focus-visible:text-slate-400">
              Skills
            </span>
          </Btnnavbar>
        </li>
        <li class="group flex items-center py-3">
          <Btnnavbar href="#certificates">
            <span class="nav-text text-xs font-bold uppercase tracking-widest text-[#141517] dark:text-[#F2F4F7] group-hover:text-slate-400 group-focus-visible:text-slate-400">
              Certificates
            </span>
          </Btnnavbar>
        </li>
      </ul>
    </nav>
    
    
    
    <Btnarrow>
      <span class="absolute -start-full transition-all group-hover:start-4">
        <svg
          class="size-5 rtl:rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
      </span>
      <span class="text-sm font-medium transition-all group-hover:ms-4">
        Check CV
      </span>
    </Btnarrow>
    
    <Grpbtnsocial />

  </div>
</header>

