<div class="relative flex items-center mb-1">
    <img class="w-20 h-20 rounded-full" src="https://camilo-aguirre.netlify.app/assets/img/myfoto-fotor-2024031716583.png" alt="Mi foto">
    <span class="absolute top-0 left-14 w-auto bg-green-400 text-white text-xs font-bold py-0.5 px-2 rounded-full">
        To work
    </span>
</div>
