---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ThemeToggle from '../components/ThemeToggle.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html class="dark" lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#F2F4F7] dark:bg-[#141517]">
		<div class="mx-auto min-h-screen max-w-screen-xl px-6 py-12 font-sans md:px-12 md:py-20 lg:px-24 lg:py-0">
		<div class="lg:flex lg:justify-between lg:gap-4">

		<Header class="w-full lg:w-1/2" />
		<main id="content" class="pt-24 lg:w-1/2 lg:py-24">
			<slot />
		</main>
		</div>	
		</div>
<Footer />
<ThemeToggle />
		
	</body>
	
</html>



<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		scroll-behavior: smooth;
		
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll("section[id]");
    const navButtons = document.querySelectorAll("[data-nav-btn]");

    function onScroll() {
      let currentId = "";
      const scrollY = window.pageYOffset;

      sections.forEach((section) => {
        const offsetTop = section.offsetTop;
        const offsetHeight = section.offsetHeight;

        if (scrollY >= offsetTop - 150 && scrollY < offsetTop + offsetHeight - 150) {
          currentId = section.id;
        }
      });

      navButtons.forEach((btn) => {
        btn.classList.remove("active");
        if (btn.getAttribute("href") === `#${currentId}`) {
          btn.classList.add("active");
        }
      });
    }

    window.addEventListener("scroll", onScroll);
    onScroll(); // inicializar al cargar
  });
</script>
